* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-col: #AD8B73;
    --secondary-col: #CEAB93;
    --tertiary-col: #E3CAA5;
    --quaternary-col: #FFFBE9;
}

body {
    font-family: 'Spartan', sans-serif;
    color: var(--quaternary-col)
}

header {
    background-color: var(--primary-col);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    padding: 15px;
    top: 0;
    z-index: 9999;


}

header a {
    text-decoration: none;
    color: var(--quaternary-col);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-size: 38px;
    padding: 10px 20px;
}

header nav ul li a:hover {
    color: var(--tertiary-col)
}

header img {
    width: 60px;
    height: auto;
    margin: 20px;
}

footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: var(--primary-col);
    padding: 20px;
}

footer p {
    display: flex;
    font-size:30px;
    justify-content: center;
}

.footer-r img {
    width: 60px;
    height: auto;
    margin: 20px:
}

.link-icons img {
    width: 32px;
    height: auto;
    margin: 20px;
}

.hero {
    background-color: var(--secondary-col);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-intro h1 {
    font-size: 60px;
}

.hero-intro p {
    font-size: 38px;
    margin:3.5% 0;
}

.avatar img {
    width: 500px;
    height: auto;
}